/* App-wide */
Screen {
    padding: 1;
}

/* ========= Main UI ========= */

#top {
    text-align: center;
    border: double #8d99ae;
    padding: 1;
}

#chat {
    width: 100%;
}

#message {
    height: 1fr;              
    border: double #8d99ae;
    width: 100%;
    height: 100%;
}

#message ListItem > Static {
    text-align: left;
}

#message:focus {
    border: double #8d99ff;
}

#message_container {
    width: 100%;
    height: auto;
}

#message_input {
    width: 1fr;               
    border: double #8d99ae;
}

#message_input:focus {
    border: double #8d99ff;
}

#btn {
    width: 24;               
    border: double #8d99ae;
}

#btn:focus {
    border: double #8d99ff;
}

/* ========= Modals ========= */

UsernameServerModal {
    background: rgba(0, 0, 0, 0.75);
    align: center middle;
}

/* Modal box */
#opt-container {
    width: 60;
    height: auto;

    padding: 1 2;
    border: double #8d99ff;
    background: #0b0f1a;      
}

#opt-container > #title {
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 1;
}

/* Option list */
#option-menu {
    width: 100%;
    height: auto;
    padding: 0;
    background: transparent;
    border: none;
}

ListItem {
    width: 100%;
    padding: 0 1;
}

ListItem > Static {
    width: 100%;
    text-align: center;
}

#opt-container > .modal-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1;
}
